name: Node.js CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'  # Use the appropriate Node.js version

      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        run: npm test   
      
      - name: install ssh keys
        run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          ssh-keyscan -H 135.181.88.52 > ~/.ssh/known_hosts
      - name: connect and pull
        run: ssh hilium@135.181.88.52 "cd /home/hilium/src/crud-api-github-action && git checkout main && git pull && pm2 restart all && exit"

      - name: cleanup
        run: rm -rf ~/.ssh


                